@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: #e8edf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 700px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1), 4px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.quizContainer {
    padding: 4rem;
}

.question {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

.quizContainer ul {
    list-style-type: none;
    margin: 0 1rem;
}

.quizContainer ul li {
    font-size: 1.5rem;
    margin: 2rem 1rem;
}

/* .quizContainer ul li .input {
    margin: 0 1rem;
} */
.btn.hide {
    display: none;
}

.btn {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: inherit;

    &:hover {
        background-color: rebeccapurple;
    }
}

.result .reloadBtn {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: inherit;

    &:hover {
        background-color: rebeccapurple;
    }
}

.quizContainer.new {
    padding: 0rem;
}

.result h2 {
    text-align: center;
    padding: 2.3rem;
}
